<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wineguesser.deductive">

    <application
        android:name=".DeductiveWineTaster"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DeductionFormActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.VarietyResultsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.DeductionFormActivity" />
        <activity
            android:name=".view.HistoryActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.UserProfileActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.HistoryRecordActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.HistoryActivity" />
        <activity
            android:name=".view.FeedbackActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.MainActivity" />

        <receiver android:name=".widget.StartDeductionWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/start_deduction_widget_info" />
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e84b72b0ac9cece9b733c57a6ad980e615e60735" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>